<configuration>

  <property name="LOG_PATH" value="../logs"/>
  <property name="LOG_FILE" value="srbw" />
  <property name="LOG_PATH_FILE" value="c:/server/apache-tomcat-9.0.67/logs/srbw.log"/>
  <property name="LOG_PATH_FILE_1" value="../logs/srbw.log"/>
  
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
	    <file>${LOG_PATH}/${LOG_FILE}.log</file>
	    <append>true</append>
	    <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss:SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
  </appender>
  
  <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${LOG_PATH_FILE}</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	      <!-- daily rollover -->
	      <fileNamePattern>${LOG_PATH}.%d{yyyy-MM-dd}.log</fileNamePattern>	
	      <!-- keep 30 days' worth of history capped at 3GB total size -->
	      <maxHistory>30</maxHistory>
	      <totalSizeCap>3GB</totalSizeCap>	
	    </rollingPolicy>	
	    <encoder>	    			
	       <pattern>%d{dd.MM.yyyy HH:mm:ss:SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
	    </encoder>
  </appender>    
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{dd.MM.yyyy HH:mm:ss:SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
   
  <logger name="org.springframework" level="error" additivity="true">
        <appender-ref ref="STDOUT" />
  </logger>
  <logger name="ru.sir.richard.boss" level="debug" additivity="true">
        <appender-ref ref="STDOUT" />
  </logger>

  <root level="error">
    <appender-ref ref="ROLLING_FILE" />
  </root>
</configuration>